/*폰트연결*/

/*스투폰트*/
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');
/*테노 산스*/
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
/*Varela*/
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
/*Abhaya Libre*/
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
/*Varta*/
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

li {
    list-style: none;
}

img {
    display: block;
    width: 100%;
}

.fp-watermark{display: none}